@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #151d3b;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #a51232;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section h2{
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;
}

section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus{
    border-radius: 16px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin: 30px;
    transition: all 0.5s;
}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 0.5s;
    margin-bottom: 20px;
}

form button:hover{
    border-radius: 16px;
    background: #f5f5f5;
    color: #101026;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    background: #101026;
    flex-direction: column;
}

.text{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}

.paragrafo{
    color: #f5f5f5;
    margin-bottom: 50px;
}

.btn{
    padding: 15px 55px;
    background: #d82148;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    transition: all 0.5s;
}

.btn:hover{
    border-radius: 16px;
}

#cadastro{
    text-align: center;
    text-decoration: none;
}
#cadastro a {
    color: #fff; 
    text-decoration: none; /* Isso remove o sublinhado padrão dos links. */
}

#cadastro a:hover {
    color: #101026; /* Define uma cor quando o link é hover (passar o mouse por cima). */
}